# Development dependencies
# Install qualitybase, providerkit and geoaddress in editable mode for local development
-e .
-e ../python-qualitybase
-e ../python-providerkit

# Include production dependencies
python-dotenv>=1.0
pytest>=7.0
